.main
    display: flex
    justify-content: center

html[lang="en"] [lang="de"]
    display: none

html[lang="de"] [lang="en"]
    display: none

.feed
    width: 43rem
    min-height: 100%
    display: inline-block

.nav-2
    display: flex
    color: var(--mdb-dark)
    a
        margin-left: 9px
        margin-top: 9px
        text-decoration: none
        color: var(--mdb-dark)
    h2
        margin: 0
        margin-left: 1rem
        margin-bottom: 1px

.user
    display: flex
    .name
        margin-left: 0.8rem
        font-size: 1.1rem
        color: var(--mdb-dark)
    .n .name
        margin-left: 0.8rem
        font-size: 1.15rem
        color: var(--mdb-dark)
    .username
        color: var(--mdb-dark)
        margin-left: 0.8rem
    img[round]
        border-radius: 50%;
        width: 3rem
        height: 3rem

.post
    margin: 1.2rem

.post-content
    color: var(--mdb-dark)
    font-size: 1.6rem

.info  
    display: flex
    color: var(--mdb-dark)
    .date
        margin-left: 1rem

.b
    display: block
    text-decoration: none
    div
        display: inline-block
    .name-2
        color: var(--mdb-dark)
    .username-2
        color: var(--mdb-dark)

.post-content-2     
    color: var(--mdb-dark)
    font-size: 1rem

.img-2 
    max-height: 20rem
    overflow: hidden
    border-radius: 2%;
    margin-top: 0.2rem
    img
        display: block
        max-width: 100%
        height: auto !important
.n
    margin-left: 0.5rem
    
.date-2
    color: var(--mdb-dark)

.post-btn
    background-color: none

.navbar-expand-lg .navbar-collapse
    justify-content: space-between

.disabled
  pointer-events: none
  cursor: default

.drop
    z-index: 99

.btn-custom
    text-transform: none !important

.dropdown-toggle:after
    content: none !important
  